
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/1C/v8.3/x86_64/1cestart
Categories=Office;Finance;
Name[ru_RU]=1С:Предприятие
Name=1C:Enterprise
Icon=1cestart
